{% extends 'Registration/courses.html' %}
{%block content%}

<h1>{{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Day</th>
                <th>Syllabus</th>
                <th>Task</th>
            </tr>
        </thead>
      
            {% for coursetask in data %}
            <tr>
                <td>{{ coursetask.id }}</td>
                <td>{{ coursetask.course_Name }}</td>
                <td>{{ coursetask.Day }}</td>
                <td>
                   {% for syllabus_item in coursetask.Syllabus.all %}
                {{syllabus_item}}</td>
                {% endfor %}
                <td>
                    {% for task in coursetask.Task.all %}
                    {{ task }}</td>
                    {% endfor %}
            </tr>
            {% endfor %}

          
        </table>
        {%endblock%}